/* Основні стилі для контейнера */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f7fc;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: black;
}

h1 {
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

/* Стиль для форми додавання нового завдання */
div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

input {
  padding: 10px;
  margin-bottom: 10px;
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  transition: border-color 0.3s ease;
  color: #0a0a0a;
}

input:focus {
  outline: none;
  border-color: #4a90e2;
}

button {
  padding: 10px 20px;
  background-color: #4a90e2;
  border: none;
  color: white;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #357ab7;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Стиль для списку завдань */
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 80%;
  max-width: 600px;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 15px;
  margin: 5px 0;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  color: #0a0a0a;
}

li:hover {
  background-color: #f0f0f0;
}

li button {
  margin-left: 10px;
  background-color: transparent;
  border: none;
  color: #4a90e2;
  cursor: pointer;
  font-size: 16px;
  transition: color 0.3s ease;
}

li button:hover {
  color: #357ab7;
}

/* Стиль для позначення виконаного завдання */
li[style*="line-through"] {
  text-decoration: line-through;
  color: #aaa;
}

li button:nth-child(1) {
  display: inline-block;
}

li button:nth-child(2) {
  display: inline-block;
  font-size: 20px;
}
